$color-primary: #bf1650;
$color-secondary: #081229;
$color-tertiary: white;
$color-error: crimson;
$base-font: "Lato",
sans-serif;
$shadow-primary: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
$shadow-secondary: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;